/*
Theme Name: 	Newspaper child
description: >-
  Newspaper child theme
Author: 		Bojan Šterić
Template: Newspaper
Version: 1.0.0
*/

/* Homepage start */
.resourceBanner {
    text-align: center;
}
.sideBarMap .td-pulldown-size{
    width:100%;
    text-align: center;
}
@media only screen and (max-width:400px) {
    .sideBarMap > div:nth-of-type(1) > div:nth-of-type(1) {
        height: 130% !important;
    }
}
.mainSlide {
    margin-bottom:0 !important;
}
@media only screen and (max-width:768px) {
    .mainSlide {
        margin-bottom:15px !important;
    }
}
.mainBoxSide:nth-of-type(1) {
    margin-bottom:9px;
}
.mainBoxSide:nth-of-type(2) {
    margin-bottom:0;
}
.editorsNote img {
    height:262px;
}
.mapContainer {
   padding-right: 0em !important;
}
.mapInner > div > table > tbody > tr > td {
    padding:0;
}
.newsBlock h3 {
    text-align: justify;
}
/* Homepage end */
/* Footer start */
.tdc-footer-wrap .td-footer-wrapper .td-footer-bottom-full .td-container::before {
    top:-12px;
}
.tdc-footer-wrap .td-footer-wrapper .td-footer-bottom-full {
    padding-top:0;
}
/* Footer end */
/* Map pop-up start */
.countryContainer {
    font-family: 'Open Sans',arial,sans-serif;
    text-align: justify;
}
.countryContainer h1,
.countryContainer h2,
.countryContainer h3 {
    text-align: left;
}
.countryContainer a {
    background-color: #4db2ec;
    display: inline-block;
    color: white;
    padding: 0.5em 1em;
    border-radius: 20px;
    text-align: left;

}
.countryContainer ul {
    list-style: none;
}

.countryContainer ul li {
    margin-left: 0;
}
.countryContainer ul li::before {
    position: relative;
    content: "";
    display: inline-block;
    margin-bottom: 2px;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid #4db2ec;
    border-top: 0.2em solid #4db2ec;
    transform: rotate(45deg);
    margin-right: 0.5em;
}
.countryContainer .normalLink {
    background: none;
    color:#4db2ec;
    padding:0;
}
.countryContainer .normalLink:hover {
    background: none;
}
.countryContainer a:hover {
    background-color:#3f74a8;
}
.countryContainer .importantParagraph {
    font-weight: bold;
}
.countryContainer .opacityParagraph {
    opacity: 0.75;
    font-style: italic;
}

.topContainer {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    grid-template-areas:
            "title title"
            "logo map";
    align-items: center;
}
.topContainer > h2 {
    grid-area: title;
    text-align: center;
}
.topContainer > .logo {
    grid-area: logo;
    justify-self: center;
}
.topContainer > .map {
    grid-area: map;
    justify-self: center;
    width: 50%;
}
/*single country start*/
.justifyText {
    text-align: justify;
}
.countryPageContainer > .tdc-row {
    width:95%;
}
.countryPageContainer .mainLogo{
    width: 65%;
}
.sideLinks p {
    margin-bottom: 0 !important;
}


/*single country end*/

/* Footer start */
/* newsletter button */
.tdc-footer-wrap .menu-footer-top-menu-container li a {
    display: inline-block;
    background-color: #444;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 0;
}
.tdc-footer-wrap .menu-footer-top-menu-container li a:hover {
    color: #fff;
}
/* Footer end */

/* Page builder css start */
.centerStuff{
    text-align:center;
}
.mainBoxSide{
    max-width: 100%;
}
.mainBoxSide img{
    width:100%;
    height:auto;
}
.someClass{
    background: #4db2ec;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    width:50%;
    margin-top:15%;
    margin-left:25%;
    margin-bottom: 10px;
}
.someClass:hover{
    background: #3f74a8;
}
.innerText{
    padding: 0 10px;
    margin-bottom:10%;
}
/* Page builder css end */

/*single country end*/

/* Custom loading for the interactive map start */
.map_loading:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}


.map_loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 0.8em;
    height: 0.8em;
    margin-top: -30%;
    margin-left: 50%;
    -webkit-animation: spinner 2000ms infinite linear;
    -moz-animation: spinner 2000ms infinite linear;
    -ms-animation: spinner 2000ms infinite linear;
    -o-animation: spinner 2000ms infinite linear;
    animation: spinner 2000ms infinite linear;
    border-radius: 0.4em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Custom loading for the interactive map end */

/* Archive organizations page start */
.countryOrganizationDiv {
    width: 50%;
    float: left;
    padding: 0 0.5%;
    height:230px;
}
@media only screen and (max-width:700px) {
    .countryOrganizationDiv {
        width:100%;
    }
}
.countryOrganizationDiv h4 {
    font-weight:bold;
}
.countryOrganizationDiv h3,
.countryOrganizationDiv h4,
.countryOrganizationDiv p,
.countryOrganizationDiv a {
    overflow-wrap: break-word;
}
.countryOrganization {
    background: #eee;
    font-size: 26px;
    margin: 0 0 15px;
    color: #3081c8;
    font-weight: 400;
    border-bottom: 1px solid #f4f4f4;
    padding: 15px 8px;
}
/* Archive organizations page start end*/

.single-post .td-post-content {
    text-align: justify;
}

.at4-share-title {
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
}